<!doctype html>
<html lang="es" ng-app="alexaApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title ng-bind="'Comercializadora OPS &mdash; ' + title">Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/metisMenu.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/slicknav.min.css" />
    <link rel="icon" type="image/png" href="assets/images/logo.png">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" />
    <!-- others css -->

        <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <link rel="stylesheet" href="assets/css/typography.css" />
    <link rel="stylesheet" href="assets/css/default-css.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body ng-controller="MainController">
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <div ng-if="!token">
        <main ng-view></main>
    </div>

    <div ng-if="token !== null" class="page-container" ng-class="{'sbar_collapsed' : toogle, 'page-container' : !toogle}">
        <!-- sidebar menu area start -->
        <ng-include src="'app/layout/sidebar.html'"></ng-include>

        <!-- sidebar menu area end -->

        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <ng-include src="'app/layout/header.html'"></ng-include>
            <!-- header area end -->

            <!-- page title area start -->
            <ng-include src="'app/layout/page-title.html'"></ng-include>
            <!-- page title area end -->

            <!-- principal content -->
            <div class="main-content-inner">


                <main ng-view></main>
                <!--<ng-include src="'app/forms/form-builder.html'"></ng-include> -->
                <!--<ng-include src="'app/tables/table-builder.html'"></ng-include> -->
            </div>

        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright {{currentYear}}. Todos los derechos reservados </p>
        </div>
    </footer>
    <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = [
            "569d52cefae586f634c54f86dc99e6a9",
            "ee6b7db5b51705a13dc2339db3edaf6d",
        ];
    </script>
    <!-- all line chart activation -->
    <script src="assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>

    <!-- lodash js-->
    <script src="app/libs/lodash.js"></script>

    <script src="app/libs/notify.min.js"></script>

    <!-- Angular modules -->
    <script src="app/libs/angular.min.js"></script>
    <script src="app/libs/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="app/libs/angular-datatables.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <!-- My modules -->
    <script src="app/files/files.module.js"></script>
    <script src="app/forms/forms.module.js"></script>
    <script src="app/tables/tables.module.js"></script>
    <script src="app/products/products.module.js"></script>
    <script src="app/auth/auth.module.js"></script>

    <!-- App config -->
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>

    <!-- Services -->
    <script src="app/services/sidebar.service.js"></script>
    <script src="app/services/files.service.js"></script>
    <script src="app/services/forms.service.js"></script>
    <script src="app/services/tables.service.js"></script>
    <script src="app/services/auth.service.js"></script>

    <!--controllers -->
    <script src="app/main.controller.js"></script>
    <script src="app/layout/sidebar.controller.js"></script>
    <script src="app/layout/header.controller.js"></script>
    <script src="app/layout/header.title.controller.js"></script>
    <script src="app/auth/login.controller.js"></script>

    <!--tables controller-->
    <script src="app/tables/tables.builder.controller.js"></script>
    <script src="app/tables/tables.controller.js"></script>
    <!--forms controller-->
    <script src="app/forms/form.builder.controller.js"></script>

     <!--productos controller-->
    <script src="app/products/products.controller.js"></script>
    <script src="app/products/products.edit.controller.js"></script>
    <script src="app/products/products.new.controller.js"></script>


    <!-- directives -->
    <script src="app/forms/forms.directive.js"></script>
    <script src="app/forms/image.directive.js"></script>
    <script src="app/files/file.model.directive.js"></script>
    <script src="app/files/file.preview.directive.js"></script>
    <script src="app/files/file.validation.directive.js"></script>
    <script src="app/tables/tables.directive.js"></script>
    <script src="app/tables/image.format.directive.js"></script>

</body>

</html>