<!-- sidebar menu area start -->
<div class="sidebar-menu" ng-controller="SidebarController as sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <a href="index.html">
        <img src="assets/images/logo-ops.png" alt="logo" />
      </a>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li ng-class="{active: currentPath === module.path}" ng-repeat="module in list">
            <a href="#!{{module.path}}" aria-expanded="false"
              ng-click="itemClick(module)"><i class="{{module.icon}}"></i><span>{{module.name}}</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
