<div class="login-area">
  <div class="container">
    <div class="login-box ptb--100">
      <form ng-submit="submit($event)">
        <div class="login-form-head">
          <img
            src="assets/images/logo-ops-without-background.png"
            alt=""
            height="200"
            width="200"
          />
          <h4>Inicio de sesión</h4>
        </div>
        <div class="login-form-body">
          <div class="form-gp">
            <label for="exampleInputEmail1">Correo</label>
            <input
              type="email"
              id="exampleInputEmail1"
              ng-focus="focusInput($event)"
              ng-blur="blurInput($event)"
              required="required"
              autocomplete="off"
              ng-change="changeInput()"
              class="input-login"
              ng-model="formData.email"
            />
            <i class="ti-email"></i>
            <div class="text-danger"></div>
          </div>
          <div class="form-gp">
            <label for="exampleInputPassword1">Constraseña</label>
            <input
              type="password"
              id="exampleInputPassword1"
              ng-focus="focusInput($event)"
              ng-blur="blurInput($event)"
              autocomplete="off"
              required="required"
              ng-change="changeInput()"
              class="input-login"
              ng-model="formData.password"
            />
            <i class="ti-lock"></i>
            <div class="text-danger"></div>
          </div>
          <div
            ng-if="!isValidUser"
            class="alert alert-danger text-center"
            role="alert"
          >
            <strong
              >Correo o contraseña incorrecto <i class="fa fa-warning"></i
            ></strong>
          </div>
          <div class="row mb-4 rmber-area"></div>

          <div class="submit-btn-area">
            <button id="form_submit" type="submit" class="btn">
              <i class="fa fa-spinner fa-spin" ng-if="isLoading"></i>
              Iniciar sesión <i class="ti-arrow-right" ng-if="!isLoading"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
