<div>
  <div class="row">
    <!-- Basic List Group start -->
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">{{'tabla' | uppercase}}</h4>
          <div>
            <div class="form-group">
              <label for="nameBuilder">Nombre del builder</label>
              <input
                type="text"
                class="form-control"
                ng-model="builderName"
                required
              />
            </div>
            <div class="form-group">
              <label for="tableName">Nombre de la tabla</label>
              <select
                class="form-control"
                id="tableName"
                name="tableName"
                ng-model="tableSelected"
                ng-change="selectChange()"
                required
              >
                <option value="">Selecciona un elemento</option>
                <option ng-value="key" ng-repeat="(key, value) in tableNames">
                  {{key}}
                </option>
              </select>
            </div>
            <button
              class="btn btn-success text-uppercase"
              type="button"
              ng-click="buildTable()"
            >
              Crear builder
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Basic List Group end -->
    <!-- Active Items start -->
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">{{'Campos de la tabla' | uppercase}}</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              ng-repeat="item in tableNames[tableSelected] track by $index"
              ng-class="{disabled: item === 'ID' }"
            >
              &nbsp; &nbsp;
              <input
                class="form-check-input me-1"
                type="checkbox"
                ng-checked="item === 'ID'"
                ng-value="item"
                ng-model="fieldsSlected[item]"
                name="fieldsSlected[]"
                ng-disabled="item === 'ID'"
                aria-label="..."
              />
              {{item | uppercase}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="card" ng-show="tableSelected && builderName">
        <button class="btn btn-info text-uppercase" ng-click="toogleTable()">
           <span ng-show="showTable">Cerrar <i class="fa fa-close" style="font-size: 15px"></i></span>
           <span ng-show="!showTable">Abrir <i class="fa fa-sort-amount-asc" style="font-size: 15px"></i>
        </button>
        <div class="card-body" ng-show="showTable">
          <ng-data-table
            id="dataTableDinamyc"
            table-records="dataTableInfo"
            table-options="dataTableOpt"
            ng-show="dataTableInfo.records.length > 0"
            table-bulild-type="builder"
          >
          </ng-data-table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-5">
    <div class="card">
      <div class="card-body row justify-content-center align-self-center">
        <button class="btn btn-dark text-uppercase" type="button" ng-click="saveBuilder()">
          Registrar builder
        </button>
      </div>
    </div>
  </div>
</div>
